@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 100%;
  display: grid;
  grid-template-areas: "encabezado encabezado" "seccion    seccion" "pie         pie";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

body {
  background-image: url(../assets/imagenes/subtle-prism1.png);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
body header {
  grid-area: encabezado;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.5vh;
  width: 100%;
  padding: 0.5vh 10%;
  font-size: 1.5rem;
}
body header .navbar {
  width: 100%;
  list-style: none;
  background: none;
  margin-top: 4vh;
  border-radius: 2vh;
}
body header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header li {
  margin: 0.5vh;
  padding: 0 2vh;
  margin-left: 25vh;
  font-weight: bold;
}
body header li:hover {
  border: 0.5vh solid rgba(41, 156, 93, 0.712);
  border-radius: 10vh 0 10vh 0;
  background-color: rgb(182, 247, 169);
  transition: all 0.1s ease;
}
body header a {
  margin: 1rem;
}
body main {
  grid-area: seccion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body main section {
  background-color: rgba(41, 156, 93, 0.712);
  border-radius: 1rem;
  padding: 3vh;
  margin: 4vh;
}
body main h1 {
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
}
body main form {
  font-size: 2vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
}
body main label {
  font-size: 1.3rem;
  color: black;
}
body main input {
  background: none;
  border: none;
  outline: 0px;
  margin-bottom: 8%;
  border-bottom: 1px solid rgb(182, 247, 169);
}
body main input:focus {
  color: black;
  border-bottom: 3px solid rgb(182, 247, 169);
  transition: all 0.1s ease;
}
body main .btn {
  font-weight: bold;
  border: 0.5vh solid rgb(182, 247, 169);
  border-radius: 2vh;
  background-color: rgb(41, 156, 93);
}
body main .btn:hover {
  background-color: rgb(182, 247, 169);
  border-radius: 10vh 0 10vh 0;
  border: 0.5vh solid rgb(182, 247, 169);
  font-weight: bold;
}
body main .resultado {
  display: flex;
  margin-bottom: 4vh;
  height: 13vh;
  width: 80vh;
  overflow: hidden;
  background-color: rgba(41, 156, 93, 0.712);
  border-radius: 1rem;
  border: 0.5vh solid rgb(182, 247, 169);
}
body main h3 {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  font-size: 2vh;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}
body main h2 {
  margin: 1vh;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
}
body footer {
  grid-area: pie;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 3vh;
  border-top: 0.5vh solid rgb(182, 247, 169);
  background-color: rgba(41, 156, 93, 0.712);
  font-family: "Varela Round", sans-serif;
}
body footer .logo {
  width: 4vh;
  margin: 1vh 0 0 1vh;
}
body footer h4 {
  margin-top: 1vh;
}

@media screen and (max-width: 820px) {
  .box {
    grid-template-areas: "encabezado   encabezado" "seccion  seccion" "pie   pie";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
  }
  body {
    background-image: url(../assets/imagenes/background-mobile.png);
    background-size: cover;
    height: 100%;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
  }
  header {
    grid-area: encabezado;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .navbar {
    display: flex;
    width: 100%;
    z-index: 1;
  }
  header .navbar:hover {
    background-color: rgba(182, 247, 169, 0.63);
    border-radius: 1vh;
    z-index: 1;
  }
  header ul {
    margin-left: 7vh;
  }
  header li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
  }
}
main {
  grid-area: seccion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
}
main section {
  background-color: rgba(41, 156, 93, 0.712);
  border-radius: 1rem;
  padding: 3vh;
  margin: 4vh;
}
main h1 {
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
}
main form {
  font-size: 1vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
}
main label {
  font-size: 1rem;
  color: black;
}
main input {
  background: none;
  border: none;
  outline: 0px;
  margin-bottom: 8%;
  border-bottom: 1px solid rgb(182, 247, 169);
}
main input:focus {
  color: black;
  border-bottom: 3px solid rgb(182, 247, 169);
  transition: all 0.1s ease;
}
main .btn {
  font-weight: bold;
  border: 0.5vh solid rgb(182, 247, 169);
  border-radius: 2vh;
  background-color: rgb(41, 156, 93);
}
main .btn:hover {
  background-color: rgb(182, 247, 169);
  border-radius: 10vh 0 10vh 0;
  border: 0.5vh solid rgb(182, 247, 169);
  font-weight: bold;
}
main #datosCrear {
  display: flex;
  margin: 0 6vh 4vh 6vh;
  height: 13vh;
  width: 60vh;
  overflow: hidden;
  background-color: rgba(41, 156, 93, 0.712);
  border-radius: 1rem;
  border: 0.5vh solid rgb(182, 247, 169);
}
main #datosPrestamo {
  display: flex;
  margin: 0 6vh 4vh 6vh;
  height: 13vh;
  width: 60vh;
  overflow: hidden;
  background-color: rgba(41, 156, 93, 0.712);
  border-radius: 1rem;
  border: 0.5vh solid rgb(182, 247, 169);
}
main #datosBuscar {
  display: flex;
  margin: 0 6vh 4vh 6vh;
  height: 13vh;
  width: 60vh;
  overflow: hidden;
  background-color: rgba(41, 156, 93, 0.712);
  border-radius: 1rem;
  border: 0.5vh solid rgb(182, 247, 169);
}
main h3 {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  font-size: 2vh;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}
main h2 {
  margin: 1vh;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 2.5vh;
}/*# sourceMappingURL=style.css.map */